.search {
	padding: 2em 0;
	&__bar {
		display: flex;
		align-items: center;
		background-color: rgba($darkBlue, 0.85);
		border-radius: 10px;
		padding: 5px 10px;
		color: white;

		input {
			border: none;
			background-color: transparent;
			margin-left: 5px;
			color: white;
			&:focus {
				outline: none;
			}
		}
	}
}

.darkMode {
	.search {
		&__bar {
			background-color: #f1faee;
			color: black;
			input {
				color: black;
			}
		}
	}
}
